body {
  text-align: center;
}

#video {
  display: none;
}

#camara {
  display: none;
  position: relative;
}

#snap {
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.6);
  border: solid 5px #fff;
  position: absolute;
  bottom: 2.5em;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  cursor: pointer;
}

#download-link {
  display: none;
}

#actions {
  position: absolute;
  top: 1em;
  right: 1em;
  color: black;
  font-size: 30px;
  display: none;
}

#actions a {
  margin-right: 1em;
  text-decoration: none;
  cursor: pointer;
}

#actions img {
  width: 30px;
}

#stickers {
  height: calc(100% - 120px);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 100px;
  display: none;
}

.sticker {
  display: inline-block;
  width: 19%;
  margin-top: 30px;
}

#intro {
  text-align: center;
  margin: 50px;
}

#options {
  display: inline-block;
  cursor: pointer;
}

#accept {
  display: block;
  padding: 5px;
  margin: 8px auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#intro select {
  position: relative;
  border: 1px solid #ccc;
  width: 200px;
  overflow: hidden;
  background-color: #fff;
}

select:before {
  content: '';
  position: absolute;
  right: 5px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
  z-index: 5;
  pointer-events: none;
}

select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
}
